@import url('/resources/css/code.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1{
        @apply text-[2rem]
    }

    h2{
        @apply text-[1.5rem]
    }

    h3{
        @apply text-[1.17rem]
    }
}

body,
label,
input,
button {
    /* color: #31304D; */
    color: #E0E1DD;
    font-family: "Courier Prime", sans-serif;
}

#style-editor>* {
    font-size: 1.25rem;
}

#style-editor .ql-editor>p {
    line-height: 32px;
}

/* #style-editor .ql-syntax{
    background-color: #23241f;
    font-size: 1rem;
    background-color: black;
    padding: 1rem;
    border-radius: 7px;
} */

#style-editor .ql-syntax {
    padding: 1rem;
    font-size: 1rem;
}

#style-editor .ql-container {
    border: none;
}

/* tiptap */
.tiptap {
    padding: 0.5rem;
    /* border-radius: 0.375rem; */
    overflow-y: auto;
}

.tiptap>ul {
    list-style-type: disc;
    margin-left: 1.75rem;
}

.tiptap>ol {
    list-style-type: decimal;
    margin-left: 1.75rem;
}

.tiptap.line-hieght>p {
    line-height: 1.75rem;
    font-size: 1rem;
}

.ProseMirror:focus {
    /* outline: 1px solid #778DA9; */
    outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    font-size: 0.875rem;
    pointer-events: none;
}

.header__font {
    /* font-size: clamp(1.875rem, -1.4063rem + 10.5vw, 4.5rem); */
    font-size: clamp(2.5rem, 1.5rem + 3.2vw, 4.5rem);
    line-height: 1.2;
}

.blog__title {
    font-size: clamp(1.875rem, 0.4688rem + 4.5vw, 3rem);
    line-height: 1.2;
}

.blog__title__home {
    font-size: clamp(1.125rem, 0.1875rem + 3vw, 1.875rem);
    line-height: 1.2;
}